/* ## GENERAL STYLING */

* {
    box-sizing: border-box;
}

:root {
    --base-color: black;
    --main-color: hsl(115, 91%, 26%);
    --accent: rgb(23, 217, 23);
    --accent2: rgb(248, 162, 3);
    --text-color: white;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background: var(--base-color);
    color: var(--text-color);
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.763), hsla(0, 0%, 0%, 0.763)), 
                        url(../images/Background\ Portfolio.webp);
}

/* ## FONT-STYLE */

header {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}

header a {
    color: var(--text-color);
}

header a:hover {
    color: var(--accent2);
}

header a:active {
    color: var(--accent2);
}

#toggle_button:hover {
 color: var(--accent2);
}

#toggle_button i {
    font-size: 2rem;
}


.title {
    font-size: 3rem;
    text-align: center;
}

.accent {
    color: var(--accent)
}

.text {
    font-size: 1.8rem;
}

.text h2 {
    text-align: center;
}

.skills {
    font-size: 3.2rem;
    text-align: center;
    color: var(--accent);
}

.skills legend {
    font-size: 2.5rem;
}

footer {
    font-size: 1.6rem;
    text-align: center;
}

footer i {
font-size: 2.4rem;
color: var(--accent2);
}

footer p {
    color: hsl(100, 19%, 72%);
    font-size: 1rem;
}

aside i {
    font-size: 3.2rem;
    color: var(--accent2);
}

@media only screen and (max-width: 862px) {
    header {
        font-size: 1.2rem;
    }

    #toggle_button i {
        font-size: 1.6rem;
    }
    

    .title {
        font-size: 2.5rem;
    }
 
    .text {
        font-size: 1.4rem;
    }

    .skills {
        font-size: 2.6rem;
    }
    
    .skills legend {
        font-size: 2rem;
    }
    
    footer {
        font-size: 1.2rem;
    }
    
    footer i {
    font-size: 2rem;
    }
    
    footer p {
        font-size: 0.8rem;
    }
    
    aside i {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 425px) {
    header {
        font-size: 0.8rem;
    }

    #toggle_button i {
        font-size: 1rem;
    }
    

    .title {
        font-size: 1.4rem;
    }
 
    .text {
        font-size: 1rem;
    }

    .skills {
        font-size: 1.4rem;
    }
    
    .skills legend {
        font-size: 1rem;
    }
    
    footer {
        font-size: 0.8rem;
    }
    
    footer i {
    font-size: 1rem;
    }
    
    footer p {
        font-size: 0.8rem;
    }
    
    aside i {
        font-size: 1rem;
    }
}
/* ## HEADER SECTION */

header {
    width: 85%;
    max-width: 1074.4px;
    height: 75px;
    border-radius: 50px;
    padding: 10px;
    position: fixed;
    top: 30px;
    left: 12%;
    background-color: hsla(115, 96%, 30%, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 5px 10px hsla(115, 50%, 22%, 0.7);
}

nav { 
    float: right;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

#toggle_button {
    border: 1px solid hsl(100, 19%, 72%);
    background-color: hsla(115, 96%, 30%, 0.7);
    padding: 5px;
    position: relative;
}

#toggle_button:hover {
    box-shadow: 0px 0px 5px 4px hsla(114, 51%, 16%, 0.7);
}

#toggle_button:active {
    bottom: -5px;
    box-shadow: none;
}


@media only screen and (max-width: 425px) {
    header {
        height: 50px;
    }

    header img {
        display: none;
    }

    nav {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    nav li {
        margin-right: 8px;
    }
}

/* ## HERO SECTION */

.title {
    margin-top: 170px;
    height: 350px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 40px; 
}

@media only screen and (max-width: 1024px) {
    .title {
        margin-bottom: 30px;
        width: 70%;
    }
}
/* ## ABOUT ME SECTION */

.text {
    line-height: 1.8em;
    max-width: 520px;
    margin-left: 20%;
    margin-top: 0;
    display: inline-block;
}

.myself {
    display: inline-block;
    margin-left: 30px;
}

.myself img {
    width: 350px;
    height: auto;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .text {
        display: block;
    }
    .myself {
        display: block;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    
    section.About_me {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .text {
        margin-left: 0;
    }

    .myself {
        margin-left: 0;
    }
}

@media only screen and (max-width: 425px) {
    .text {
        max-width: 300px;
    }

    .myself {
        margin-left: auto;
        margin-right: auto;
    }

    .myself img {
        width: 300px;
        height: auto;
    }
}

/* ## PROJECTS SECTION */

.projects {
    width: 80%;
    height: 207px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid var(--main-color)
}

.skills {
    width: 70%;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.skills i {
    margin-left: 10px;
}

/* ## FOOTER */ 

footer {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 5px;
    width: 100%;
    background-color: var(--main-color);
    position: relative;
}

footer h2 {
    margin-bottom: 5px;
}

footer i {
    margin-top: 10px;
    margin-left: 5px;
}

footer p {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

/* ## ASIDE */

aside {
    position: fixed;
    left: -5px;
    bottom: 15%;
}

aside ul {
    list-style-type: none;
}

aside li {
    border: 2px double hsl(100, 19%, 72%);
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    aside {
        left: -15px;
    }
}

@media only screen and (max-width: 425px) {
    aside {
        display: none;
    }
}